hr {
    margin: 0;
}

.rodapé {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodapé {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodapé {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodapé {
        display: block;
    }

    .rodapé__titulo {
        font-size: 24px;
    }

    .lista-rodapé__titulo {
        color: #858585;
        font-size: 14px;
        
    }

    .lista-rodapé__item {
        display: flex;
        align-items: center;
        margin: .6em 0;
    }

    .lista-rodapé__link {
        color: #474646;
        text-decoration: none;
        margin-left: .6em;
    }

    .lista-rodapé__link:hover {
        color: rgb(0, 102, 255)
    }
}

@media screen and (min-width: 1728px) {
    
    .lista-rodapé {
        border-left: 1px solid #858585;
        padding-left: 1em;
    }

    .rodapé {
        padding: 3em 0;
    }
}